a:focus, .btn:focus {
    outline: none;
}

.accordion-heading .accordion-toggle {
    display: inline;
}

.accordion-heading {
    padding: 5px;
}

.accordion-heading .divider-vertical {
    padding: 0 5px 0 5px;
}

.accordion-heading .accordion-toggle {
    padding: 8px 10px 8px 15px;
}

.comment .img-polaroid {
    width: 100px;
}

footer > div {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    font-size: 12px;
}

.modal > form {
    margin: 0;
}

.newTorrents .ui-tabs, .ui-tabs-panel {
    padding: 1em 0 !important;
}

.attributeDescription {
    font-size: 9px;
    font-weight: bold;
    vertical-align: text-bottom;
}

.fancybox.youtube:after {
    content: url("/images/media_playback_start.png");
    position: relative;
    left: -70px;
    top: 10px;
}

.commentsBlock {
    margin-bottom: 20px;
}

.commentText.rating-1 {
    opacity: 0.8;
}

.commentText.rating-2 {
    opacity: 0.7;
}

.commentText.rating-3 {
    opacity: 0.6;
}

.commentText.rating-4 {
    opacity: 0.5;
}

.commentText.rating-5 {
    opacity: 0.4;
}

.commentText.rating-6 {
    opacity: 0.3;
}

.commentText.rating-7 {
    opacity: 0.375;
}

.commentText.rating-8 {
    opacity: 0.3;
}

.commentText.rating-9 {
    opacity: 0.2;
}

.commentText.rating-10 {
    opacity: 0.1;
}

.dl-horizontal dd {
    margin-bottom: 5px;
}

.dl-horizontal dd:last-child {
    margin-bottom: 0;
}

.errorMessage {
    color: red;
}

.sorter a.asc:after {
    border-bottom: 4px solid #000000;
    border-top: medium none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin: 5px 0 0 5px;
}

.sorter a.desc:after {
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin: 5px 0 0 5px;

}

.commentContainer {
    margin-top: 20px;
}

#fileList-grid {
    padding-top: 0;
}

.torrentGroupRating .progress {
    height: 2px;
    margin-top: 10px;
    margin-bottom: 0;
}

.torrentGroupRating {
    width: 83px;
}

.notifications {
    width: 300px;
}

.torrentGroupOperations {
    margin-top: 10px;
    margin-left: 0 !important;
}

.torrentGroupOperations.nav-pills {
    display: table;
    width: 100%;
    text-align: center;
}

.torrentGroupOperations.nav-pills > li {
    display: table-cell;
    width: 1%;
    float: none;
}

.torrentGroupOperations.nav-pills > li a {
    text-align: center;
}
.commentReply {
    display: block;
    margin-top: 10px;
}

#blogPostsListView {
    padding-top: 0;
}

.list-view {
    padding-top: 0;
}