#mjmChatBlock {
	position: fixed;
	top: 50px;
	right: 0;
}
#mjmChatSlectRoom {
	display: block;
	margin-right: 36px;
	padding: 6px 0 7px 10px;
}
#mjmChatRooms {
	display: none;
    background-color: #FFFFFF;
    border-right: 3px solid #C9E0ED;
    box-shadow: -2px 1px 5px -2px;
    margin: 2px 0 0;
    padding: 0;
    width: 160px;
    max-height: 300px;
    overflow: auto;
}
#mjmChatRooms li {
    cursor: pointer;
    padding: 5px 8px;
    font-family: tahoma;
}
#mjmChatRooms li:hover {
	background-color: #C9E0ED;
}
#mjmChatRoom {
	width: 600px;
	height: 420px;
	bottom: -400px;
    right: -500px;
    box-shadow: 1px -1px 6px -1px;
    background-color: #FFFFFF;
	position: fixed;
    z-index: 10;
}
#mjmChatRoomHead {
    background-color: #C9E0ED;
    border-bottom: 1px solid #C6C6C6;
    height: 20px;
    width: 100%;
    font-family: tahoma;
	font-weight: bold;
}
#mjmChatRoomClose, #mjmChatRoomMinimize {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 11px;
    height: 15px;
    text-align: center;
    width: 15px;
    margin-top: 2px;
}
#mjmChatRoomClose {
    margin-right: 5px;
}
#mjmChatRoomMinimize {
    display: block;
    font-size: 18px;
    margin-top: -1px;
}
#mjmChatRoomTitle {
    cursor: pointer;
    display: inline-table;
    height: 20px;
    padding-left: 7px;
    width: 554px;
}
#mjmChatRoomBody {
    height: 320px;
    width: 100%;
}
#chatMessages {
    width: 410px;
}
#mjmChatUsersList {
    background-color: #FBFBFB;
    border-left: 1px solid #D2D2D2;
    width: 149px;
}
#chatMessages, #mjmChatUsersList {
    float: left;
    height: 100%;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding:5px;
}
#mjmChatRoomSend {
    height: 40px;
    padding: 5px;
    border-top: 1px solid #C6C6C6;
    clear: both;
}
#mjmChatMessage {
    float: left;
    height: 40px;
    margin: 0;
    width: 470px;
}
#mjmChatSend {
    cursor: pointer;
    float: right    ;
    height: 48px;
    padding: 0;
    width: 100px;
    margin-left: 5px;
}
.mjmChatEvent, .mjmChatMyUser {
	color: silver;	
}
.mjmChatEvent {
    font-family: tahoma;
    font-size: 11px;
    font-style: italic;	
}

.chatHighlight {
    background-color: #FCF8E3;
}

#chatMessages .media-heading {
    line-height: 10px;
}

#chatMessages .media {
    margin: 5px 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #EEEEEE;
}